{% extends 'layout.html' %} {% block content %}
<div class="container-login">
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form id="register-form" action="/auth/register" method="POST">
        <h1>Create Account</h1>
        <input
          type="email"
          autocomplete
          name="email"
          placeholder="이메일"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="비밀번호"
          autocomplete="current-password"
          required
        />
        <input type="text" name="userName" placeholder="성명" required />
        <input type="text" name="nickName" placeholder="닉네임" required />
        <input type="tel" name="phoneNum" placeholder="핸드폰번호" required />
        <input type="date" name="dateOfBirth" />
        <input type="submit" value="등록" />
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form id="login-form" action="/auth/login" method="POST">
        <h1>Login</h1>
        <!-- <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div> -->
        <!-- <span>or use your account</span> -->
        <input
          type="email"
          name="email"
          placeholder="Email"
          autocomplete="username"
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          autocomplete="current-password"
        />
        <input type="submit" value="등록" />
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Login !</h1>
          <p>로그인해서 중고마켓을 이용하세요!</p>
          <button class="ghost" id="signIn">Login</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>안녕하세요!</h1>
          <p>중고마켓 이용을 위해서 회원가입해주세요!</p>
          <button class="ghost" id="signUp">회원가입</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./register.js"></script>
{% endblock%}
