<header>
  <div id="container-header">
    <a href="/">
      <div id="header-title">
        <i class="fas fa-comments-dollar"> </i>
        <span class="title-name">중고마켓</span>
      </div>
    </a>

    <nav>
      <div id="header-nav">
        {% if user %}
        <span><strong>{{user.nickName}}</strong>님 환영합니다</span>
        {% if alertProduct %}
        <i
          class="fas fa-comment-dots"
          onclick="openWindowPop(`/chatting/{{alertProduct.id}}`, `{{product.name}}`)"
          id="alertProduct-btn"
        ></i>
        {% endif %}
        <i
          class="fas fa-edit"
          onclick="changeHref('/product/registration')"
          id="registration"
        ></i>
        <i
          class="fas fa-address-book"
          onclick="changeHref('/profile')"
          id="profile"
        >
        </i>
        <i
          class="fas fa-lock-open"
          onclick="changeHref('/auth/logout')"
          id="logout"
        ></i>

        {% else %}
        <span>로그인 해주세요</span>

        <i class="fas fa-lock" onclick="changeHref('/auth')" id="login"></i>
        {% endif %}
      </div>
    </nav>
  </div>
</header>
