<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>중고마켓</title>
    <link rel="stylesheet" href="/common.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/de6911476d.js"
      crossorigin="anonymous"
    ></script>
    {% block css %} {% endblock %}
  </head>
  <body>
    {% include "header.html" %} {% block content %} {% endblock %} {% block
    javascript%} {% endblock %}
    <script src="/common.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
