{% extends 'layout.html' %} {% block css %}

<link rel="stylesheet" href="/productRegistration.css" />
{% endblock %} {% block content %}

<div class="contaier-product-registration">
  <form
    id="product-registration-form"
    action="/product/registration"
    enctype="multipart/form-data"
    method="POST"
  >
    <input type="text" name="productName" placeholder="상품 이름" />
    <input type="text" name="price" placeholder="상품 가격" pattern="[0-9]+" />
    <textarea
      name="description"
      placeholder="설명을 입력해주세요"
      from="product-registration-form"
    ></textarea>
    <input type="file" name="productImg" />
    <input type="file" name="productImg" />
    <input type="file" name="productImg" />
    <input type="submit" value="등록" />
  </form>
</div>

{% endblock %}
