{% extends 'layout.html' %} {% block css %}
<link rel="stylesheet" href="/profile.css" />
{% endblock %} {% block content %}

<div class="container-user">
  <div class="container-user-box">
    <div class="container-user-box-layout">
      <div class="user-img">
        <img src="/uploads/public1607497567295.jpg" alt="" />
      </div>
      <div class="user-info-box">
        <div class="user-info">
          <ul>
            <li>이메일 : {{user.email}}</li>
            <li>성명 : {{user.userName}}</li>
            <li>닉네임 : {{user.nickName}}</li>
            <li>핸드폰 번호 : {{user.phoneNum}}</li>
            <li>생년월일 : {{user.dateOfBirth}}</li>
          </ul>
        </div>
        <div class="user-btn">
          <button onclick="changeHref('/profile/update')">수정</button>
          <button onclick="changeHref('/profile/delete')">회원탈퇴</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
