.container-user {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-user-box {
  width: 800px;
  border-radius: 10px;
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.5);
  border: 2px solid whitesmoke;
  background-color: #ffffff;
}
.container-user-box-layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0px;
}

.user-img {
  width: 300px;
  height: 300px;
}
.user-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-info-box {
  padding-right: 30px;
}

.user-info {
  margin-top: 20px;
}
.user-info ul li {
  margin: 10px 0px;
}

.user-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0px;
}
